<section class="d-flex">
    <div class="row flex-nowrap container-fluid">

        <!--menu navbar-->
        {{> _navbar }}

        <!--main content-->

        <!-- Início do conteúdo principal-->
        <div class="bg-light-subtle content-box flex-fill container-fluid">

            <div class="row mb-5">
                <div class="col-md-12">
                    <h1 class="text-justify my-3">Bem-vindo ao sistema</h1>
                </div>

                <div class="col-sm col-12">
                    <div class="card"><!--card 1-->
                        <div class="card-header">
                            <h2>Últimas Notícias</h2>
                        </div>
                        <div class="card-body">
                            <div class="row">
                                <div class="col-md-4">
                                    <div class="card">
                                        <img src="/assets/img/news1.jpg" class="card-img-top" alt="...">
                                        <div class="card-body">
                                            <h5 class="card-title">Notícia 1</h5>
                                            <p class="card-text">Lorem ipsum dolor sit amet consectetur adipisicing
                                                elit. Quisquam, quod
                                                voluptates. Quisquam, quod voluptates.</p>
                                            <a href="#" class="btn btn-outline-warning">Leia mais</a>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-md-4">
                                    <div class="card">
                                        <img src="/assets/img/news1.jpg" class="card-img-top" alt="...">
                                        <div class="card-body">
                                            <h5 class="card-title">Notícia 1</h5>
                                            <p class="card-text">Lorem ipsum dolor sit amet consectetur adipisicing
                                                elit. Quisquam, quod
                                                voluptates. Quisquam, quod voluptates.</p>
                                            <a href="#" class="btn btn-outline-warning">Leia mais</a>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-md-4">
                                    <div class="card">
                                        <img src="/assets/img/news1.jpg" class="card-img-top" alt="...">
                                        <div class="card-body">
                                            <h5 class="card-title">Notícia 1</h5>
                                            <p class="card-text">Lorem ipsum dolor sit amet consectetur adipisicing
                                                elit. Quisquam, quod
                                                voluptates. Quisquam, quod voluptates.</p>
                                            <a href="#" class="btn btn-outline-warning">Leia mais</a>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div> <!--end card 1-->

                </div>


            </div>

            <div class="col-sm col-12">
                <div class="card"> <!--card 2-->
                    <div class="card-header">
                        <h2>Últimas Notícias</h2>
                    </div>
                    <div class="card-body">
                        <div class="row">
                            <div class="col-md-4">
                                <div class="card">
                                    <img src="/assets/img/news1.jpg" class="card-img-top" alt="...">
                                    <div class="card-body">
                                        <h5 class="card-title">Notícia 1</h5>
                                        <p class="card-text">Lorem ipsum dolor sit amet consectetur adipisicing elit.
                                            Quisquam, quod
                                            voluptates. Quisquam, quod voluptates.</p>
                                        <a href="#" class="btn btn-outline-warning">Leia mais</a>
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-4">
                                <div class="card">
                                    <img src="/assets/img/news1.jpg" class="card-img-top" alt="...">
                                    <div class="card-body">
                                        <h5 class="card-title">Notícia 1</h5>
                                        <p class="card-text">Lorem ipsum dolor sit amet consectetur adipisicing elit.
                                            Quisquam, quod
                                            voluptates. Quisquam, quod voluptates.</p>
                                        <a href="#" class="btn btn-outline-warning">Leia mais</a>
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-4">
                                <div class="card">
                                    <img src="/assets/img/news1.jpg" class="card-img-top" alt="...">
                                    <div class="card-body">
                                        <h5 class="card-title">Notícia 1</h5>
                                        <p class="card-text">Lorem ipsum dolor sit amet consectetur adipisicing elit.
                                            Quisquam, quod
                                            voluptates. Quisquam, quod voluptates.</p>
                                        <a href="#" class="btn btn-outline-warning">Leia mais</a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div> <!--end card 2-->
            </div>

            <!--fim do conteúdo principal-->
        </div>



    </div>
</section>