<!--início do rodapé-->
  <footer class="container-fluid bg-dark py-3 sticky-md-bottom border-bottom-footer text-light">

    <div class="row text-center justify-content-center">

      <div class="col-md-6">
        <p><i class="fa-brands fa-node fa-2x"></i> Copyright &copy; 2021 - Node.js. Todos os direitos
          reservados.</p>
      </div>
      <div class="socila-icons col-md-6">
        <a href="#"><i class="fab fa-facebook text-light"></i></a>
        <a href="#"><i class="fab fa-twitter text-light"></i></a>
        <a href="#"><i class="fab fa-instagram text-light"></i></a>
        <a href="#"><i class="fab fa-github text-light"></i></a>
      </div>
    </div>
  </footer>
  <!--fim do rodapé-->



  <!-- Importando o jQuery e Bootstrap JS a partir da pasta assets-->
  <script src="/assets/js/bootstrap.bundle.min.js"></script>
  <script src="/assets/fontawesome/js/all.min.js"></script>

</body>

</html>