<!DOCTYPE html>
<html lang="pt">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>CodeMinds</title>

    <!-- Importando o Bootstrap CSS a partir da pasta assets-->
    <link rel="stylesheet" href="assets/css/bootstrap.min.css">
    <link rel="stylesheet" href="assets/css/app.css">

    <!-- fontawosome-->
    <link rel="stylesheet" href="assets/fontawesome/css/all.min.css">

    <!-- font google-->
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Rajdhani:wght@300;400;500;600;700&display=swap"
        rel="stylesheet">
</head>

<body class="bg-light">
    <nav class="navbar navbar-expand-lg navbar-dark bg-dark sticky-lg-top">
        <div class="container-fluid d-flex justify-content-between align-items-center">
            <div class="no-link">
                <button class="toggle-btn" onclick="toggleSidebar()"><i class="fa fa-bars"></i></button>
                <a class="navbar-brand" href="#"><i class="fa-solid fa-brain"></i> CodeMinds</a>
            </div>
            <div class="nav-links d-flex align-items-center no-link">
                <a href="#" class="text-white-50 me-4"><i class="fa-regular fa-user me-2"></i>Perfil</a>
                <a href="#" class="text-white-50"><i class="fa-solid fa-arrow-right-from-bracket me-2"></i> Sair</a>
            </div>
        </div>
    </nav>