
  <!-- Fim Cabeçalho-->

  <!-- Início do menu Lateral esquerdo-->
  <section class="d-flex">
    <div class="row flex-nowrap container-fluid">
      <div class="bg-dark col-auto col-md-4 col-lg-2 min-vh-100 d-flex flex-column">
        <a href="#" class="d-flex text-decoration-none align-items-center ms-2 my-3">
          <span class="text-light fs-4 d-none d-sm-inline">
            Menu Principal
          </span>
        </a>

        <ul class="nav nav-pills flex-column mb-auto">
          <li class="nav-item">
            <a href="#" class="nav-link text-light active" aria-current="page">
              <i class="fas fa-home me-2"></i>
              <span class="d-none d-sm-inline">Home</span>
            </a>
          </li>

          <li class="nav-item">
            <a href="#" class="nav-link text-light">
              <i class="fas fa-users me-2"></i>
              <span class="d-none d-sm-inline">Usuários</span>
            </a>
          </li>

          <li class="nav-item">
            <a href="./category.html" class="nav-link text-light">
              <i class="fa-solid fa-list me-2"></i>
              <span class="d-none d-sm-inline">Categoria</span>
            </a>
          </li>

          <li class="nav-item">
            <a href="./add_news.html" class="nav-link text-light">
              <i class="fas fa-newspaper me-2"></i>
              <span class="d-none d-sm-inline">Notícias</span>
            </a>
          </li>
          <li class="nav-item">
            <a href="./tinymce.html" class="nav-link text-light">
              <i class="fa-solid fa-right-from-bracket me-2"></i>
              <span class="d-none d-sm-inline">Sair</span>
            </a>
          </li>
        </ul>

      </div><!--fim do menu lateral esquerdo-->


      <!-- Início do conteúdo principal-->
      <div class="bg-light-subtle content-box flex-fill container-fluid">

        <div class="row mb-5">
          <div class="col-md-12">
            <h1 class="text-justify my-3">Bem-vindo ao sistema</h1>
          </div>

          <div class="col-sm col-12">
            <div class="card"><!--card 1-->
              <div class="card-header">
                <h2>Últimas Notícias</h2>
              </div>
              <div class="card-body">
                <div class="row">
                  <div class="col-md-4">
                    <div class="card">
                      <img src="/assets/img/news1.jpg" class="card-img-top" alt="...">
                      <div class="card-body">
                        <h5 class="card-title">Notícia 1</h5>
                        <p class="card-text">Lorem ipsum dolor sit amet consectetur adipisicing elit. Quisquam, quod
                          voluptates. Quisquam, quod voluptates.</p>
                        <a href="#" class="btn btn-outline-warning">Leia mais</a>
                      </div>
                    </div>
                  </div>
                  <div class="col-md-4">
                    <div class="card">
                      <img src="/assets/img/news1.jpg" class="card-img-top" alt="...">
                      <div class="card-body">
                        <h5 class="card-title">Notícia 1</h5>
                        <p class="card-text">Lorem ipsum dolor sit amet consectetur adipisicing elit. Quisquam, quod
                          voluptates. Quisquam, quod voluptates.</p>
                        <a href="#" class="btn btn-outline-warning">Leia mais</a>
                      </div>
                    </div>
                  </div>
                  <div class="col-md-4">
                    <div class="card">
                      <img src="/assets/img/news1.jpg" class="card-img-top" alt="...">
                      <div class="card-body">
                        <h5 class="card-title">Notícia 1</h5>
                        <p class="card-text">Lorem ipsum dolor sit amet consectetur adipisicing elit. Quisquam, quod
                          voluptates. Quisquam, quod voluptates.</p>
                        <a href="#" class="btn btn-outline-warning">Leia mais</a>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div> <!--end card 1-->

          </div>


        </div>

        <div class="col-sm col-12">
          <div class="card"> <!--card 2-->
            <div class="card-header">
              <h2>Últimas Notícias</h2>
            </div>
            <div class="card-body">
              <div class="row">
                <div class="col-md-4">
                  <div class="card">
                    <img src="/assets/img/news1.jpg" class="card-img-top" alt="...">
                    <div class="card-body">
                      <h5 class="card-title">Notícia 1</h5>
                      <p class="card-text">Lorem ipsum dolor sit amet consectetur adipisicing elit. Quisquam, quod
                        voluptates. Quisquam, quod voluptates.</p>
                      <a href="#" class="btn btn-outline-warning">Leia mais</a>
                    </div>
                  </div>
                </div>
                <div class="col-md-4">
                  <div class="card">
                    <img src="/assets/img/news1.jpg" class="card-img-top" alt="...">
                    <div class="card-body">
                      <h5 class="card-title">Notícia 1</h5>
                      <p class="card-text">Lorem ipsum dolor sit amet consectetur adipisicing elit. Quisquam, quod
                        voluptates. Quisquam, quod voluptates.</p>
                      <a href="#" class="btn btn-outline-warning">Leia mais</a>
                    </div>
                  </div>
                </div>
                <div class="col-md-4">
                  <div class="card">
                    <img src="/assets/img/news1.jpg" class="card-img-top" alt="...">
                    <div class="card-body">
                      <h5 class="card-title">Notícia 1</h5>
                      <p class="card-text">Lorem ipsum dolor sit amet consectetur adipisicing elit. Quisquam, quod
                        voluptates. Quisquam, quod voluptates.</p>
                      <a href="#" class="btn btn-outline-warning">Leia mais</a>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div> <!--end card 2-->
        </div>

        <!--fim do conteúdo principal-->
      </div>

  </section>



  