<div class="bg-dark col-auto col-md-4 col-lg-2 min-vh-100 d-flex flex-column">
  
  <a href="#" class="d-flex text-decoration-none align-items-center ms-2 my-3">
    <span class="text-light fs-4 d-none d-sm-inline">
      Menu Principal
    </span>
  </a>

  <ul class="nav nav-pills flex-column mb-auto">
    <li class="nav-item">
      <a href="#" class="nav-link text-light active" aria-current="page">
        <i class="fas fa-home me-2"></i>
        <span class="d-none d-sm-inline">Home</span>
      </a>
    </li>

    <li class="nav-item">
      <a href="#" class="nav-link text-light">
        <i class="fas fa-users me-2"></i>
        <span class="d-none d-sm-inline">Usuários</span>
      </a>
    </li>

    <li class="nav-item">
      <a href="/admin/category/list" class="nav-link text-light">
        <i class="fa-solid fa-list me-2"></i>
        <span class="d-none d-sm-inline">Categorias</span>
      </a>
    </li>

    <li class="nav-item">
      <a href="./add_news.html" class="nav-link text-light">
        <i class="fas fa-newspaper me-2"></i>
        <span class="d-none d-sm-inline">Notícias</span>
      </a>
    </li>
    <li class="nav-item">
      <a href="./tinymce.html" class="nav-link text-light">
        <i class="fa-solid fa-right-from-bracket me-2"></i>
        <span class="d-none d-sm-inline">Sair</span>
      </a>
    </li>
  </ul>

</div>
<!--fim do menu lateral esquerdo-->