<div class="d-flex">
    <div class="row flex-nowrap container-fluid">

        <!--menu navbar-->
        {{> _navbar }}


        <!--main content -->
         <div class="bg-light-subtle content-box flex-fill container-fluid">

            <h1>Categorias</h1>

        </div>

    </div>
</div>